*{
  /* border: 1px solid red; */
  box-sizing: border-box;

}
body{
  /* background-color:darkgrey ;  */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.search-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.img{
  margin-bottom: 40px;
}
.form-control{
  width: 30vw;
  height: 45px;
  border-radius: 10px;
}
.add-btn{
  margin-top: 20px;
}
.btn{
  background-color: #204080;
  ;
  color: white;
  border: none;
  margin-left: 5px;
  width:10vw;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
 
}
.show-more{
  display: flex;
  flex-direction: column;
  margin: 30px 20px 10px 20px;
}
.btn-more{
  border: none;
  cursor: pointer;
}
.cards{
  border: 1px solid black;
  border-radius: 5px;
  width: 40vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  min-width: 300px;

}

.card{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(155, 154, 154);
  height: 60px;
  color: #484848;
}
.card-right{
  flex-basis: 50%;
}
.card-left{
  flex-basis: 50%;
}
.card-title{
  min-width:50px;
  margin-bottom: 0;
}
.card-left p{
    font-size: 0.7rem;
    font-weight: 100;
}
.card-text{
  font-size: 12px;
  font-weight: bold;
  margin:0;
}
.card:hover{
  opacity: 0.8;
  cursor: pointer;
}

.searchinput:hover,
.form-control:hover{
  background: linear-gradient(to bottom right, #b1d8ff , rgb(253, 253, 253));
  color: white;
}

.output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}