
body{
  /* background-color:darkgrey ;  */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.search-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.add-btn{
  margin-top: 20px;
}
.btn{
  background-color: blue;
  color: white;
  border: none;
  margin-left: 5px;
}
.cards{
  border: 1px solid black;
  width: 40vw;
  margin-top: 20px;

}

.card{
  margin: 10px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 border-bottom: 1px solid rgb(155, 154, 154);

}

.card:hover{
  opacity: 0.8;
  cursor: pointer;
}

.searchinput:hover,
.form-control:hover{
  background: linear-gradient(to bottom right, #67b3ff , rgb(253, 253, 253));
  color: white;
}

.output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}