@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  background-color:darkgrey ; 
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.search-bar{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card{
  background: linear-gradient(to bottom right, #212529 , gray);
  box-shadow: 10px 10px lightgray;
  color: white;
}

.card:hover{
  opacity: 0.8;
  cursor: pointer;
}

.searchinput:hover,
.form-control:hover{
  background: linear-gradient(to bottom right, #212529 , gray);
  color: white;
}

.output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}